/*Overall CSS */
body {
    text-align: right;
    background-color: #e6e6e6;
    margin: 3px;
}

h1 {
    color: black;
    display: block;
    font-family: Cursive;
    text-align: center;
}

#menu {
    display: inline-block;
}

.button-div {
    float: right;
}

.menu-button {
    background-color: deepskyblue;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: 100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

#personal {
    display: inline-block;
    float: left;
}

#form {
    text-align: center;
}

form {
    display: inline-block;
}

#goal-fields {
    position: static;
    text-align: left;
}

.container {
    text-align: center;
    float: none;
    margin: 40px;
    padding: 10px;
    border: groove;
    border-radius: 10px;
    background-color: white;

}

ul {
    list-style: none;
}

.repeatable {
    border-radius: 10px;
    background-color: lightgray;
}

#field1, #field2, #field3 {
    width: 50px;
}