/*Overall CSS */
body {
    background-color: #e6e6e6;
    margin: 3px;
    text-align: center;
}

#wrapper {
    text-align: right;
    max-width: 1200px;
    margin: auto;
}

h1 {
    color: black;
    display: block;
    text-align: center;
}

h2 {
    color: black;
    display: block;
    text-align: center;
}

#menu {
    display: inline-block;
}

.button-div {
    float: right;
}

.menu-button {
    margin: 5px
}

#personal {
    display: inline-block;
    float: left;
}

#form {
    text-align: center;
}

form {
    display: inline-block;
}

#goal-fields {
    position: static;
    text-align: left;
}

.container {
    text-align: center;
    float: none;
    margin: 40px;
    padding: 10px;
    border: groove;
    border-radius: 10px;
    background-color: white;
}

ul {
    list-style: none;
    text-align: center;
}

.repeatable {
    border-radius: 10px;
    background-color: lightgray;
}

#tags-field-1, #tags-field-2, #tags-field-3 {
    width: 200px;
}

.findButton {
    margin-right: 40%;
}

.ACHIEVED {
    background-color: #27ff5a !important;
}

.OVERDUE {
    background-color: #ff5953 !important;
}

span.ACHIEVED {
    visibility: hidden !important;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    display: none;
    -webkit-appearance: none;
}

